body {
    background-color: #202328;
    color: white;
    font-family: sans-serif;
    font-size: 10vh;
    text-align: center;
}

.board {
    border: solid .05em #DDDDDD;
    height: 80vh;
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
}

.next {
    border: solid .05em #DDDDDD;
    height: 20vh;
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
}